NEXT_PUBLIC_BOTCHAIN_CHAIN_ID=677
NEXT_PUBLIC_BOTCHAIN_RPC_URL=https://rpc.botchain.ai
NEXT_PUBLIC_BOTCHAIN_EXPLORER_URL=https://scan.botchain.ai

NEXT_PUBLIC_BOTPROOF_CONTRACT_ADDRESS=
DEPLOYER_PRIVATE_KEY=
